body {background-color:black;
      color: white
}
h1{color:grey;}
.maindiv {background-color: black;
          width: 300px;
          padding: 20px;
          border-radius: 25px;
          align: center;
}

